default: &default
  adapter: postgresql
  host: 127.0.0.1
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>

development:
  <<: *default
  database: <%= "#{@repository_name}_development" %>

test:
  <<: *default
  user: postgres
  database: <%= "#{@repository_name}_test" %>
