# frozen_string_literal: true

RSpec.configure do |config|
  config.before(:suite) do
    DatabaseCleaner.clean_with(:truncation)
  end

  config.before do
    DatabaseCleaner.strategy = :transaction
  end

<%- unless @skip_js_configs -%>
  config.before(:each, js: true) do
    DatabaseCleaner.strategy = :truncation
  end

<%- end -%>
  config.before do
    DatabaseCleaner.start
  end

  config.after do
    DatabaseCleaner.clean
  end
end
